.button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: $orange;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  transition: all 0.2s ease-out;
  text-shadow: 1px 1px 1px #aba8a4;
  &--shadow {
    box-shadow: 1px 1px 6px black;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 3px 4px 9px black;
    }
  }
  &:hover {
    background-color: darken($orange, 8%);
  }
  i {
    margin: 0 12px;
    padding: 0.5px;
    opacity: 0.5;
    background-color: $white;
  }
}
